.Home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #ffdf0a;
}

button {
    outline: none;
    border: none;
    color: #ffffff;
    background-color: #000000;
    padding: .5rem 2.5rem;
    border-radius: .75rem;
    cursor: pointer;
}

.Account nav {
    background-color: #ffdf0a;
    display: flex;
    padding: 0 1rem 0 1rem;
}

.Account nav #right {
    margin-left: auto;
}

.Account h1 {
    text-align: center;
}

.NFTCard img {
    width: 18rem;
    height: auto;
}

.NFTCard {
    background-color: rgb(247, 247, 255);
    width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 5rem;
}

.NFTCard .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.NFT-Display .address {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NFT-Display {
    display: flex;
    gap: 4rem;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}